*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

ul{
    list-style: none;
    font-family: var(--text-font1);
    font-size: 14px;
}


a{
    text-decoration: none;
    color: var(--text-color3);
}



:root{
    /*root das cores*/
    --color: white;
    --color-principal: #5C50DC;
    --bg-color: #FAFAFF;
    --text-color1: #1D192C;
    --text-color2: #3B3951;
    --text-color3: #8D8BAC;
    /* root das fontes*/
    --text-font-mulish: 'Mulish', sans-serif;
    --text-font-quicksand: 'Quicksand', sans-serif;

}

body{
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

#header-box{
    background: var(--color);
    padding: 23px;
    width: 100%;
    box-shadow: 13px 0px 16px -13px;
}

header{
    margin: 0 209px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav1 ul, 
.nav2 ul{
    display: flex;
    gap: 40px;
}

.nav1 ul li a,
 .nav2 ul li a{
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s;
    font-weight: 100;
}

.nav1 ul li a:hover{
    color: var(--color-principal);
}
 .nav2 ul li a:hover{
    color: var(--color-principal);
 }

 /*-----------------------------------------------------------------------------------------------------------------------*/

 main{
    display: flex;
    margin: 200px 230px 0;
    width: 100%;
 }

aside{
    width: 535px;
}

 aside h1{
    font-size: 52px;
    font-weight: normal;
    color: var(--text-color2);
    font-weight: bold;
    font-family: var(--text-font-mulish);
 }
 
 aside p{
    margin-top: 28px;
    font-family: var(--text-font-quicksand);
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 0.5px;
 }

.hero-text{
    color: var(--text-color3);
}

 .form-text{
    margin-top: 42px;
    color: var(--text-color2);
    font-size: 0.95vw;
}

.emoji-form{
    font-size: 20px;
}

#form{
    width: 431px;
    padding-right: 155px;
    height: 54px;
    background-color: #9699a3 /* #F0F2FA*/;
    margin-top: 20px;
}

#input-email{
    margin-top: 20px;
    border: 0;
    
}

 article img{
    width: 500px;
 }
