* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  font-family: var(--text-font1);
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--text-color3);
}

:root {
  /*root das cores*/
  --color: white;
  --color-principal: #5c50dc;
  --bg-color: #fafaff;
  --text-color1: #1d192c;
  --text-color2: #3b3951;
  --text-color3: #8d8bac;
  /* root das fontes*/
  --text-font-mulish: "Mulish", sans-serif;
  --text-font-quicksand: "Quicksand", sans-serif;
}

body {
  background-color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 65px;
  margin: auto;
  width: 95vw;
  color: var(--color);
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.05);
  font-family: var(--text-font-mulish);
  font-weight: 600;
}

#nav-menu {
  display: flex;
  gap: 19px;
  font-size: 15px;
}

#btn-mobile {
  cursor: pointer;
  display: none;
}

#btn-mobile span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 3px;
  background: var(--color-principal);
  margin: 4px auto;
  transition: all 0.3s;
}
.nav-menu-item {
  padding: 10px;
}
.nav-menu-item a:hover {
  color: var(--color-principal);
}
#nav-menu2 {
  display: flex;
  gap: 19px;
}

@media (max-width: 992px) {
  header {
    width: 70vw;
  }

  #btn-mobile {
    display: block;
  }
  #nav-menu,
  #nav-menu2 {
    display: none;
  }
}

#first-section {
  background-color: var(--bg-color);
}
